/* Dashboard.css */
.dashboard-background {
  background: linear-gradient(to bottom, #1369ea, #0e0eb8);
  min-height: 100vh;
  color: #fff;
}

.table-responsive {
  border: 10px solid #fff;
  border-radius: 10px;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: -4px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  margin-bottom: 0 !important;
}

.chart-pie {
  width: 100%;
  height: 400px;
}

@media (max-width: 430px) {
  .table-searchbar {
    width: 100% !important;
  }
  .table-container {
    width: 90vw;
  }

  .table-all {
    width: 100% !important;
    font-size: 0.7rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .dashboard-background .btn {
    font-size: 0.8rem !important;
    padding: 0.3rem 0.4rem !important;
  }

  .form-control {
    font-size: 0.7rem !important;
  }

  td,
  th {
    padding: 0.3rem 0.5rem !important;
    white-space: normal;
  }

  td input {
    max-width: 100% !important;
    max-height: 1.5rem !important;
    width: 100%;
  }

  h1 {
    font-size: 1.2rem !important;
    margin-bottom: 1rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }

  .chart-pie {
    width: 90vw;
    height: 320px;
  }

  /* Optional: Hide less important columns */
  /*
  .table th:nth-child(2),
  .table td:nth-child(2) {
    display: none;
  }
  */
}
