.home-background {
  background: linear-gradient(to bottom, #065fe5, #01016b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.hero-section {
  padding: 5rem 0;
  color: white;
}

.features-section,
.faq-section {
  min-height: 50vh;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  animation: move 20s infinite alternate;
  z-index: 0;
  pointer-events: none;
}

.circle1 {
  width: 500px;
  height: 500px;
  top: 8%;
  left: -10%;
}

.circle2 {
  width: 700px;
  height: 700px;
  bottom: -10%;
  right: -30%;
}

.circle3 {
  width: 400px;
  height: 400px;
  bottom: 55%;
  right: -10%;
}

.circle4 {
  width: 200px;
  height: 200px;
  bottom: 52%;
  right: -5%;
}

.circle5 {
  width: 700px;
  height: 700px;
  bottom: 20%;
  left: -35%;
}

@keyframes move {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-50px) scale(1.2);
  }
}

footer a {
  color: #fff !important;
  text-decoration: none !important;
}

footer a:hover {
  color: #fff !important;
  text-decoration: underline !important;
}

.home-background img {
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.accordion-body {
  background-color: rgba(226, 226, 226, 0.313);
}

@media (max-width: 430px) {
  .order-on-mobile-1 {
    order: 1;
  }
  .order-on-mobile-2 {
    order: 2;
  }
  .hero-img {
    margin-top: -50px !important;
  }
  .hero-copy {
    margin-top: -440px !important;
    margin-left: 10px !important;
  }
}
